body {
  margin: 0 auto;
  padding: 0 auto;
  background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
}
.head {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/072/154/original/kitchen.jpg?1679014859);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
h1 h2 h3 h4 h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.head2 {
  text-align: center;
  font-size: 70px;

  font-weight: 100px;
  color: white;
  margin-top: 80px;
}

.navbar-nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.nav-link:hover {
  color: aliceblue;
  font-size: 20px;
}

.button-links {
  text-decoration: none;
  color: #000;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.button-links:hover {
  font-size: 20px;
  color: #fff;
}

h1 {
  font-size: 100px;
  color: #fff;
}
h2 {
  margin-top: 30px;
  text-align: center;
  font-size: 50px;
}

.content {
  margin-top: 70px;
}

.site-footer {
  background-color: rgb(240, 240, 240);
  margin-left: -0 auto;
  padding: 0 auto;
  width: 100%;
  display: block;
}

.site-footer a {
  color: #000;
  cursor: pointer;
}

.Kitchen {
  display: inline;
  margin-top: 20px;
  padding: 10px;
  color: #333333;
}
.text-center {
  margin-top: 20px;
  color: #333333;
}

.list li {
  list-style: none;
}

@media (max-width: 750px) {
  h1 {
    font-size: 65px;
  }
  h2 {
    font-size: 35px;
    margin-top: 30px;
  }
  .head2 {
    margin-bottom: 30px;
  }

  .col-mix {
    margin-bottom: 30px;
  }

  .btn-outline-danger {
    margin: 0 auto;
    display: block;
    text-align: center;
  }
}
